.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    margin-bottom: 77px;
}

.navbar .search {
    border: 2px solid var(--input-border);
    display: flex;
    align-items: center;
    padding: 5px 15px;
    border-radius: 10px;
}

.search input {
    background-color: inherit;
    border: none;
    outline: none;
}

.search input {
    color: var(--text-color) !important;
}

.navbar .navLinks {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 36px;
}

.navLinks a,
.navLinks p {
    font-size: var(--h5);
    color: var(--text-color);
}

.navbar .navLinks svg {
    padding: 2px;
    background-color: #010101;
    border-radius: 12px;
    cursor: pointer;
    width: 30px;
}