.courses {
    display: flex;
    gap: 45px;
}

.courses div {
    display: flex;
    gap: 32px;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding: 32px;
    border-radius: 12px;
}

.courses div:first-child {
    background-color: #00555A;
}

.courses div:nth-child(2) {
    background-color: #004570;
}

.courses div h2 {
    color: #FFFFFF;
}

.courses div button {
    width: max-content;
    height: max-content;
    font-size: var(--p);
    padding: 15px;
}